.footer-container {
  width: 100%;
  background-color: #111;
  color: #fff;
  padding: 40px 0;
  position: ;  
  bottom: 0;          
  left: 0;
  /* z-index: 999; */
}

.footer-content {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

/* Footer sections */
.footer-section {
  min-width: 220px;
}

.footer-logo {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-section h3 {
  font-size: 20px;
  margin-bottom: 12px;
}

.footer-section p {
  font-size: 16px;
  line-height: 1.4;
}

/* Footer lists */
.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin: 8px 0;
  cursor: pointer;
  transition: 0.3s ease;
}

.footer-section ul li:hover {
  color: #FF8200;
}

/* Footer bottom */
.footer-bottom {
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #333;
  font-size: 15px;
  color: #aaa;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-section {
    margin-bottom: 20px;
  }
}
